/* Estilo geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    background-color: #16161a;
    height: 100vh;
    padding-top: 70px;

}

.interface {
    max-width: 1280px;
    margin: 0 auto;

}

.flex {
    display: flex;
}

:root {
    --color-primary: #7f5af0;
    --color-secondary: #94a1b2;
    --color-tertiary: #fffffe;
    --color-quaternary: #5c5c5c;
    --color-quinary: #16161a;
    --color-sextary: #242629;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--color-primary);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}

button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px var(--color-primary);
    transform: scale(1.05);
}

h2.titulo {
    font-size: 38px;
    color: var(--color-tertiary);
    text-align: center;
}

h2.titulo span {
    color: var(--color-primary);
}

/* Estilo do cabeçario */
header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header a {
    color: var(--color-quaternary);
    text-decoration: none;
    display: inline-block;
    transition: .3s;
}

header a:hover {
    color: var(--color-tertiary);
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}


/*  ESTILO TOPO DO SITE */


section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    font-size: 48px;
    color: var(--color-tertiary);
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: var(--color-primary);
}

.topo-do-site .txt-topo-site p {
    color: var(--color-secondary);
    margin: 40px 0;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    filter: drop-shadow(3px 5px 5px var(--color-primary));


}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/* Estilo especialidades */
section.especialidades {
    padding: 40px 4%;
}

section.especialidades .flex {
    gap: 60px;
}

.especialidades .especialidades-box {
    color: var(--color-tertiary);
    padding: 40px;
    border-radius: 20px;
    border: 2px solid var(--color-primary);
    margin-top: 40px;
    transition: .3s;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px var(--color-primary);

}

.especialidades .especialidades-box i {
    font-size: 70px;
    color: var(--color-primary);
}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* ESTILO DO SOBRE */
section.sobre {
    padding: 80px 4%;
}

section .sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: var(--color-tertiary);

}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: var(--color-primary);
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: var(--color-primary);
    font-size: 22px;
    cursor: pointer;
    margin: 0px 5px;
    transition: .3s;
}

/* estilo portfólio */
section.portfolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px var(--color-sextary);
    background-color: var(--color-quinary);

}

section.portfolio .flex {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;

}

.img-port {
    width: 30%;
    height: 360px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 2s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;

}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #16161aad;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 500;
    color: var(--color-tertiary);
    opacity: 0;
    transition: .2s;
}

.overlay:hover {
    opacity: 1;
}

/* ESTILO FORMULÁRIO */
section.formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

}

form input,
form textarea {
    width: 100%;
    padding: 20px 15px;
    border: 2px solid var(--color-primary);
    border-radius: 15px;
    background-color: var(--color-quinary);
    color: var(--color-tertiary);
    outline: 0;
    font-size: 18px;
}

form textarea {
    resize: none;
    max-height: 300px;
}

form input::placeholder {
    color: var(--color-secondary);
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;

}

form .btn-enviar input {
    width: 120px;
    background-color: var(--color-primary);
    color: var(--color-quinary);
    font-weight: 700;
    cursor: pointer;
    transition: .3s;
}

/* estilo do rodapé */
footer {
    padding: 60px 4%;
    background-color: var(--color-quinary);
    box-shadow: 0 0 40px 10px var(--color-sextary);
    color: var(--color-tertiary);

}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;

}

.borda {
    border-top: 2px solid var(--color-primary);
    width: 100%;
}

footer .line-footer p i {
    color: var(--color-primary);
    font-size: 20px;
}

footer .line-footer p a {
    color: var(--color-tertiary);

}

footer .copy {
    text-align: center;
    margin-top: 40px;
}

/* responsividade */
@media screen and (max-width: 1020px) {

    /* calsses gerais */
    .flex {
        flex-direction: column;
    }

    h2.titulo {
        font-size: 34px;
        line-height: 30px;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    /* cabeçalho */
    .menu-desktop,
    .btn-contato {
        display: none;
    }

    /* topo do site */
    section.topo-do-site .flex {
        gap: 40px;
    }

    section.topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site h1 {
        font-size: 30px;

    }

    .topo-do-site .img-topo-site img {
        width: 100%;
    }

    /* Estilo especialidades */
    section.especialidades {
        padding: 40px 8%;
    }

    /* ESTILO DO SOBRE */
    section.sobre {
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .btn-social {
        text-align: center;
    }

    .img-sobre img {
        width: 100%;
    }

    /* estilo portfólio */
    section.portfolio {
        padding: 80px 8%;
    }

    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.portfolio .flex {
        gap: 60px;
    }

    /* restilo rodapé */
    footer .flex {
        flex-direction: column;
        gap: 20px;
    }

    footer .line-footer {
        text-align: center;
    }
}